/simplified-drone-sim/__pycache__
/simplified-drone-sim/simplified-drone-sim/sensors/__pycache__
/simplified-drone-sim/simplified-drone-sim/__pycache__
/simplified-drone-sim/simplified-drone-sim/src/__pycache__
/simplified-drone-sim/simplified-drone-sim/src/sensors/__pycache__
/simplified-drone-sim/simplified-drone-sim/src/training/__pycache__
drone-rl-environment/libraries/gym-pybullet-drones/
/simplified-drone-sim/models
/drone-rl-environment/src/drone_rl_environment/__pycache__
/drone-rl-environment/models
/drone-rl-environment/src/drone_rl_environment/custom_environments/__pycache__
/drone-rl-environment/src/drone_rl_environment/lidar/__pycache__
/drone-rl-environment/ppo_drone_tensorboard
/drone-rl-environment/tensorboard-logs
/drone-rl-environment/src/drone_rl_environment/mapping/__pycache__
/diagrams
