/simplified-drone-sim/__pycache__
/simplified-drone-sim/simplified-drone-sim/sensors/__pycache__
/simplified-drone-sim/simplified-drone-sim/__pycache__
/simplified-drone-sim/simplified-drone-sim/src/__pycache__
/simplified-drone-sim/simplified-drone-sim/src/sensors/__pycache__
/simplified-drone-sim/simplified-drone-sim/src/training/__pycache__
